:root {
  --white-background: #ffffff;
  --light-background: #f4f4fd;
  --secondary-light-background: #e7e9fc;
  --hero-background: #2e2f42;
  --modal-background: #fcfcfc;
  --modal-overlay: #2e2f42;
  --main-text: #434455;
  --help-text: #8e8f99;
  --accent: #4d5ae5;
  --active-state: #404bbf;
  --shadows: #2e2f42;
  --success-state: #31d0aa;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text);
  background-color: var(--white-background);
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.main-text {
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.btn-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.first-title {
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.secondary-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

/* <!-- !!!HEADER!!! ---------------------------------------------------------------------------> */
.header {
}
.header-navigation {
}
.header-logo {
  color: var(--accent);
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
}
.header-logo-element {
  color: var(--shadows);
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
}
.header-list {
}
.header-list-item {
}
.header-list-link {
  color: var(--shadows);
  font-style: normal;
  font-weight: 500;
  line-height: var(--main-line-height);
  letter-spacing: var(--main-letter-spacing);
}

.header-address {
}

.header-address-list {
}
.header-address-item {
}
.header-address-link {
  font-style: normal;
}
/* <!-- !!!HERO!!! ---------------------------------------------------------------------------> */
.hero {
  background-color: var(--hero-background);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: var(--white-background);
}
.hero-btn {
  background-color: var(--accent);
  color: var(--white-background);
  font-size: 16px;
  font-weight: 500;
  line-height: var(--main-line-height);
  letter-spacing: 0.64px;
}
/* <!-- !!!ADVANTAGES!!! ---------------------------------------------------------------------------> */
.advantages {
}
.advantages-title {
}
.advantages-list {
}
.advantages-list-item {
}
.advantages-item-title {
}
.advantages-item-text {
}
/* <!-- !!!ABOUT!!! ---------------------------------------------------------------------------> */
.about {
}
.about-title {
}
.about-list {
}
.about-list-item {
}
.about-list-image {
}
/* <!-- !!!TEAM!!! ---------------------------------------------------------------------------> */
.team {
  background-color: var(--light-background);
}
.team-title {
}
.team-list {
}
.team-list-item {
}
.team-list-image {
}
.team-list-title {
}
.team-list-text {
}
/* <!-- !!!FOOTER!!! ---------------------------------------------------------------------------> */
.footer {
  background-color: var(--hero-background);
}
.footer-logo {
  color: var(--accent);
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
}
.footer-logo-element {
  color: var(--light-background);
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
}
.footer-text {
  color: var(--light-background);
}

/* <!-- !!!PORTFOLIO!! ---------------------------------------------------------------------------> */
.examples {
}
.examples-title {
}
.examples-filter-list {
}
.examples-filter-item {
}
.examples-filter-btn {
}
.examples-list {
}
.examples-list-item {
}
.examples-list-link {
}
.examples-list-image {
}
.examples-list-title {
}
.exampes-list-text {
}
